body {
	font-size: 18px;
	font-family: sans-serif;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
	margin-top: 110px;
}

.menu {
	width: 80%;
	margin: auto;
	overflow: hidden;
}
/* Header*/
header {
	background-color: #ffccb3;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
}

nav img {
	float: left;
}

nav a {
	text-decoration: none;
	text-transform: none;
	color: black;
}

nav ul {
	text-decoration: none;
	text-transform: none;
	list-style: none;
	float: right;
	padding-top: 12px;
	display: inline-block;
}

nav li {
	float: left;
	display: inline;
	padding-top: 50px;
	padding: 0 20px 0 20px;
}
/* About */

nav img {
	height: 80px;
	width: 135px;
}

#about img {
	width: 100%;
	max-width: 500px;
	height: auto;
	margin: auto;
	display: block;
}

iframe {
	margin: auto;
	display: block;
}

/* Pricing */
.price-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}

.price-container div {
	border: 1px black solid;
	padding: 10px;
}

.box {
	flex-basis: 27%;
}

#pricing li {
	list-style: none;
}

/* Email */
#email {
	width: 300px;
	height: 35px;
}

#submit {
	width: 150px;
	height: 40px;
	font-size: 18px;
	border: none;
	box-sizing: border-box;
	border-width: 20%;
	color: white;
	background-color: #ff874e;
	padding-bottom: 5px;
}

#submit:hover {
	background-color: #ffbb9a;
}

.container {
	margin-top: 170px;
}

/* Media queries*/
@media(max-width: 768px){
nav img,
nav ul
{
		float: none;
		text-align: center;
		margin: auto;
		display: block;
		width: 70%;
	}
	#submit{
		width: 99%;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	#email {
		width: 98%;
}
	.price-container {
		display: flex;
		flex-direction: column;
	}
}